[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
	shallow = true
[submodule "ublox-gnss-driver"]
	path = ublox-gnss-driver
	url = https://github.com/mbed-ce/ublox-gnss-driver.git
